openapi: 3.0.0
info:
  contact:
    email: support@vantage.sh
    name: Vantage Support
    url: https://www.vantage.sh
  description: Vantage API
  termsOfService: https://www.vantage.sh/terms-of-use
  title: Vantage
  version: 2.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- description: Operations about Costs
  name: Costs
- description: Operations about BusinessMetrics
  name: BusinessMetrics
- description: Operations about Folders
  name: Folders
- description: Operations about Filters
  name: Filters
- description: Operations about Segments
  name: Segments
- description: Operations about Dashboards
  name: Dashboards
- description: Operations about Teams
  name: Teams
- description: Operations about AccessGrants
  name: AccessGrants
- description: Operations about Notifications
  name: Notifications
- description: Operations about Prices
  name: Prices
- description: Operations about Workspaces
  name: Workspaces
- description: Operations about Users
  name: Users
- description: Operations about Pings
  name: Ping
paths:
  /workspaces:
    get:
      description: Return all Workspaces that the current API token has access to.
      operationId: Workspaces_listAccessible
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/workspaces
                      first: https://api.vantage.com/v2/workspaces?page=1
                      next: null
                      last: https://api.vantage.com/v2/workspaces?page=1
                      prev: null
                    workspaces:
                    - token: wrkspc_f936ced69bcbf8fa
                      name: Senger and Sons
              schema:
                $ref: '#/components/schemas/Workspaces'
          description: ""
      tags:
      - Workspaces
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--workspaces
      x-accepts: application/json
  /workspaces/{workspace_token}:
    get:
      description: Return a specific Workspace.
      operationId: Workspaces_getSpecificWorkspace
      parameters:
      - explode: false
        in: path
        name: workspace_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token: wrkspc_be2a1b2c1ebfa3c9
                    name: Crist-Simonis
              schema:
                $ref: '#/components/schemas/Workspace'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Workspaces
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--workspaces-workspace_token
      x-accepts: application/json
  /folders:
    get:
      description: Return all Folders for CostReports.
      operationId: Folders_listCostReports
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/folders
                      first: https://api.vantage.com/v2/folders?page=1
                      next: null
                      last: https://api.vantage.com/v2/folders?page=1
                      prev: null
                    folders:
                    - title: synergy
                      token: fldr_baf37f32280f5444
                      parent_folder_token: null
                      created_at: 2023-09-12T05:06:54Z
                      updated_at: 2023-09-12T05:06:54Z
                      workspace_token: wrkspc_f583a08beb76f679
                    - title: website
                      token: fldr_625d4591e46f7dfa
                      parent_folder_token: fldr_baf37f32280f5444
                      created_at: 2023-09-12T05:06:54Z
                      updated_at: 2023-09-12T05:06:54Z
                      workspace_token: wrkspc_f583a08beb76f679
              schema:
                $ref: '#/components/schemas/Folders'
          description: ""
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--folders
      x-accepts: application/json
    post:
      description: Create a Folder for CostReports.
      operationId: Folders_createFolderForCostReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postFolders'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Folder
                    token: fldr_4aabe6f482c2a9e4
                    parent_folder_token: fldr_4d29cbecf2601266
                    created_at: 2023-09-12T05:06:52Z
                    updated_at: 2023-09-12T05:06:52Z
                    workspace_token: wrkspc_510cc77828001f9b
              schema:
                $ref: '#/components/schemas/Folder'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--folders
      x-content-type: application/json
      x-accepts: application/json
  /folders/{folder_token}:
    delete:
      description: Delete a Folder for CostReports.
      operationId: Folders_deleteFolderForCostReports
      parameters:
      - explode: false
        in: path
        name: folder_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--folders-folder_token
      x-accepts: application/json
    get:
      description: Return a specific Folder for CostReports.
      operationId: Folders_getSpecificFolder
      parameters:
      - explode: false
        in: path
        name: folder_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: intermediate
                    token: fldr_3653e0f460786b1e
                    parent_folder_token: fldr_b6bf120a1d3a794b
                    created_at: 2023-09-12T05:07:36Z
                    updated_at: 2023-09-12T05:07:36Z
                    workspace_token: wrkspc_a707105ff54966c3
              schema:
                $ref: '#/components/schemas/Folder'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--folders-folder_token
      x-accepts: application/json
    put:
      description: Update a Folder for CostReports.
      operationId: Folders_updateFolderForCostReports
      parameters:
      - explode: false
        in: path
        name: folder_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putFolders'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Title
                    token: fldr_68e18d8d7df0be96
                    parent_folder_token: fldr_9aa0c735a6b615c6
                    created_at: 2023-09-12T05:06:53Z
                    updated_at: 2023-09-12T05:06:53Z
                    workspace_token: wrkspc_e65a48e5d9684439
              schema:
                $ref: '#/components/schemas/Folder'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--folders-folder_token
      x-content-type: application/json
      x-accepts: application/json
  /saved_filters:
    get:
      description: Return all SavedFilters that can be applied to a CostReport.
      operationId: Filters_getCostReportFilters
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/saved_filters
                      first: https://api.vantage.com/v2/saved_filters?page=1
                      next: null
                      last: https://api.vantage.com/v2/saved_filters?page=1
                      prev: null
                    saved_filters:
                    - title: White
                      token: svd_fltr_52a89bb6b1c84380
                      cost_report_tokens:
                      - rprt_fef8f7e70f993108
                      filter: (costs.provider = 'aws' AND costs.account_id = '74')
                      created_at: 2023-09-12T05:07:35Z
                      created_by: usr_055cb925f37bfa75
                      workspace_token: wrkspc_c3a582b964a67afd
              schema:
                $ref: '#/components/schemas/SavedFilters'
          description: ""
      tags:
      - Filters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--saved_filters
      x-accepts: application/json
    post:
      description: Create a SavedFilter for CostReports.
      operationId: Filters_createSavedFilterForCostReports
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSavedFilters'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Saved Filter
                    token: svd_fltr_84a8a4e35a845f97
                    cost_report_tokens: []
                    filter: (costs.provider = 'datadog')
                    created_at: 2023-09-12T05:06:52Z
                    created_by: usr_4011f2b8a607729d
                    workspace_token: wrkspc_6f54abb1b2a5aefc
              schema:
                $ref: '#/components/schemas/SavedFilter'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Filters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--saved_filters
      x-content-type: application/json
      x-accepts: application/json
  /saved_filters/{saved_filter_token}:
    delete:
      description: Delete a SavedFilter for CostReports.
      operationId: Filters_deleteSavedFilter
      parameters:
      - explode: false
        in: path
        name: saved_filter_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Filters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--saved_filters-saved_filter_token
      x-accepts: application/json
    get:
      description: Return a specific SavedFilter.
      operationId: Filters_getSavedFilter
      parameters:
      - explode: false
        in: path
        name: saved_filter_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Black
                    token: svd_fltr_7d37f2b3704d1c41
                    cost_report_tokens:
                    - rprt_267f8c135c20bf99
                    filter: (costs.provider = 'aws' AND costs.account_id = '57')
                    created_at: 2023-09-12T05:07:36Z
                    created_by: usr_86017037cec4a852
                    workspace_token: wrkspc_7020b8708f0e6556
              schema:
                $ref: '#/components/schemas/SavedFilter'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Filters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--saved_filters-saved_filter_token
      x-accepts: application/json
    put:
      description: Update a SavedFilter for CostReports.
      operationId: Filters_updateSavedFilterForCostReports
      parameters:
      - explode: false
        in: path
        name: saved_filter_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSavedFilters'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Updated Saved Filter
                    token: svd_fltr_92c840f4c76c76b3
                    cost_report_tokens: []
                    filter: (costs.provider = 'azure')
                    created_at: 2023-09-12T05:07:35Z
                    created_by: usr_fcd9ff9f8aa6bd1f
                    workspace_token: wrkspc_49c6865bb1f6356f
              schema:
                $ref: '#/components/schemas/SavedFilter'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Filters
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--saved_filters-saved_filter_token
      x-content-type: application/json
      x-accepts: application/json
  /cost_reports:
    get:
      description: Return all CostReports.
      operationId: Costs_getAllCostReports
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/cost_reports
                      first: https://api.vantage.com/v2/cost_reports?page=1
                      next: null
                      last: https://api.vantage.com/v2/cost_reports?page=1
                      prev: null
                    cost_reports:
                    - title: Untitled
                      token: rprt_e97ef22efaa6da12
                      folder_token: null
                      saved_filter_tokens:
                      - svd_fltr_cc4a422cf86f9e26
                      business_metric_tokens_with_metadata: []
                      filter: null
                      groupings: "provider,service"
                      settings:
                        include_credits: false
                        include_refunds: false
                        include_discounts: true
                        include_tax: true
                        amortize: true
                        unallocated: false
                      created_at: 2024-03-19T15:22:54Z
                      workspace_token: wrkspc_3dc89ff43657f255
              schema:
                $ref: '#/components/schemas/CostReports'
          description: ""
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cost_reports
      x-accepts: application/json
    post:
      description: Create a CostReport.
      operationId: Costs_createReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCostReports'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Cost Report
                    token: rprt_362b04093c087475
                    folder_token: fldr_819fe3807f88ff90
                    saved_filter_tokens:
                    - svd_fltr_a50b002184902819
                    business_metric_tokens_with_metadata:
                    - business_metric_token: bsnss_mtrc_bc0689f1b54094b1
                      unit_scale: per_thousand
                    filter: costs.provider = 'aws' AND costs.service = 'Amazon Simple
                      Storage Service'
                    groupings: "provider,service"
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: 2024-03-19T15:22:51Z
                    workspace_token: wrkspc_d50edff4c3ae23b2
              schema:
                $ref: '#/components/schemas/CostReport'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--cost_reports
      x-content-type: application/json
      x-accepts: application/json
  /cost_reports/{cost_report_token}:
    delete:
      description: Delete a CostReport.
      operationId: Costs_deleteCostReport
      parameters:
      - explode: false
        in: path
        name: cost_report_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--cost_reports-cost_report_token
      x-accepts: application/json
    get:
      description: Return a CostReport.
      operationId: Costs_getCostReport
      parameters:
      - explode: false
        in: path
        name: cost_report_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Segment Report
                    token: rprt_16a4d01d67a50631
                    folder_token: fldr_fa3d9420651c11d7
                    business_metric_tokens_with_metadata: []
                    filter: null
                    groupings: null
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: 2024-03-19T15:22:54Z
                    workspace_token: wrkspc_6a917500aba6bca8
              schema:
                $ref: '#/components/schemas/CostReport'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--cost_reports-cost_report_token
      x-accepts: application/json
    put:
      description: Update a CostReport.
      operationId: Costs_updateReport
      parameters:
      - explode: false
        in: path
        name: cost_report_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putCostReports'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Updated Cost Report
                    token: rprt_77fec1422cfc25df
                    folder_token: fldr_54b65b6cb9af21d0
                    saved_filter_tokens:
                    - svd_fltr_33736ce7e17d7803
                    business_metric_tokens_with_metadata:
                    - business_metric_token: bsnss_mtrc_58c57f66d35a1ad7
                      unit_scale: per_thousand
                    filter: costs.provider = 'azure'
                    groupings: "service,account_id"
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: 2024-03-19T15:22:52Z
                    workspace_token: wrkspc_ca0b4a774e8fa57c
              schema:
                $ref: '#/components/schemas/CostReport'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--cost_reports-cost_report_token
      x-content-type: application/json
      x-accepts: application/json
  /segments:
    get:
      description: Return all Segments.
      operationId: Segments_list
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/segments
                      first: https://api.vantage.com/v2/segments?page=1
                      next: null
                      last: https://api.vantage.com/v2/segments?page=1
                      prev: null
                    segments:
                    - title: installation
                      description: Multi-lateral attitude-oriented process improvement
                      token: fltr_sgmt_0db07f2863f779cc
                      parent_segment_token: null
                      track_unallocated: false
                      report_settings:
                        include_credits: false
                        include_refunds: false
                        include_discounts: true
                        include_tax: true
                        amortize: true
                      priority: 100
                      filter: (costs.provider = 'aws')
                      created_at: 2024-02-02T01:02:07Z
                      workspace_token: wrkspc_7036b752bf43a658
              schema:
                $ref: '#/components/schemas/Segments'
          description: ""
      tags:
      - Segments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--segments
      x-accepts: application/json
    post:
      description: Create a Segment.
      operationId: Segments_createSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSegments'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Segment
                    description: I'm a Segment.
                    token: fltr_sgmt_1e47944f3821d5c3
                    parent_segment_token: fltr_sgmt_ac17f90b94f8d00f
                    track_unallocated: false
                    priority: 100
                    filter: (costs.provider = 'aws' AND costs.service = 'Amazon Simple
                      Storage Service')
                    created_at: 2024-02-02T01:02:08Z
                    workspace_token: wrkspc_d5d4814d5e42522c
              schema:
                $ref: '#/components/schemas/Segment'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Segments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--segments
      x-content-type: application/json
      x-accepts: application/json
  /segments/{segment_token}:
    delete:
      description: Delete a Segment.
      operationId: Segments_removeSegment
      parameters:
      - explode: false
        in: path
        name: segment_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Segments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--segments-segment_token
      x-accepts: application/json
    get:
      description: Return a Segment.
      operationId: Segments_getSegmentById
      parameters:
      - explode: false
        in: path
        name: segment_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: benchmark
                    description: Synergized bandwidth-monitored help-desk
                    token: fltr_sgmt_d1de6bdb3133d61e
                    parent_segment_token: null
                    track_unallocated: false
                    report_settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                    priority: 100
                    filter: (costs.provider = 'aws')
                    created_at: 2024-02-02T01:02:09Z
                    workspace_token: wrkspc_5c9b1211804105ff
              schema:
                $ref: '#/components/schemas/Segment'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Segments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--segments-segment_token
      x-accepts: application/json
    put:
      description: Update a Segment.
      operationId: Segments_updateSegmentById
      parameters:
      - explode: false
        in: path
        name: segment_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSegments'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Updated Segment
                    description: Ameliorated disintermediate challenge
                    token: fltr_sgmt_99969c652d4df258
                    parent_segment_token: fltr_sgmt_d8d4da2ef1751c13
                    track_unallocated: false
                    priority: 42
                    filter: (costs.provider = 'azure')
                    created_at: 2024-02-02T01:05:01Z
                    workspace_token: wrkspc_c144e5f763a5b05e
              schema:
                $ref: '#/components/schemas/Segment'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Segments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--segments-segment_token
      x-content-type: application/json
      x-accepts: application/json
  /dashboards:
    get:
      description: Return all Dashboards.
      operationId: Dashboards_getAll
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/dashboards
                      first: https://api.vantage.com/v2/dashboards?page=1
                      next: null
                      last: https://api.vantage.com/v2/dashboards?page=1
                      prev: null
                    dashboards:
                    - title: O Jerusalem!
                      token: dshbrd_0e00316c1b6ccdf5
                      widget_tokens:
                      - rprt_63e2ca172354d16a
                      saved_filter_tokens:
                      - svd_fltr_447e67636b3c789a
                      date_bin: null
                      date_interval: null
                      start_date: null
                      end_date: null
                      created_at: 2024-03-04T18:49:33Z
                      updated_at: 2024-03-04T18:49:33Z
                      workspace_token: wrkspc_d42986a4825b18c7
              schema:
                $ref: '#/components/schemas/Dashboards'
          description: ""
      tags:
      - Dashboards
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--dashboards
      x-accepts: application/json
    post:
      description: Create a Dashboard.
      operationId: Dashboards_createDashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDashboards'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Dashboard
                    token: dshbrd_40d2a85e60872ee4
                    widget_tokens:
                    - rprt_d1262358f4d2de03
                    saved_filter_tokens:
                    - svd_fltr_03bae07fb40ef1e0
                    date_bin: week
                    date_interval: this_month
                    start_date: 2023-08-01
                    end_date: 2023-08-31
                    created_at: 2023-08-15T00:00:00Z
                    updated_at: 2023-08-15T00:00:00Z
                    workspace_token: wrkspc_7c586d05929f60b4
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Dashboards
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--dashboards
      x-content-type: application/json
      x-accepts: application/json
  /dashboards/{dashboard_token}:
    delete:
      description: Delete a Dashboard.
      operationId: Dashboards_deleteDashboard
      parameters:
      - explode: false
        in: path
        name: dashboard_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Dashboards
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--dashboards-dashboard_token
      x-accepts: application/json
    get:
      description: Return a specific Dashboard.
      operationId: Dashboards_getSpecificDashboard
      parameters:
      - explode: false
        in: path
        name: dashboard_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/dashboards
                      first: https://api.vantage.com/v2/dashboards?page=1
                      next: null
                      last: https://api.vantage.com/v2/dashboards?page=1
                      prev: null
                    dashboards:
                    - title: The Road Less Traveled
                      token: dshbrd_77736ea6e502a481
                      widget_tokens:
                      - rprt_7d955d7fbe334706
                      saved_filter_tokens:
                      - svd_fltr_cd8f90c99b33dfa6
                      date_bin: null
                      date_interval: null
                      start_date: null
                      end_date: null
                      created_at: 2024-03-04T18:49:33Z
                      updated_at: 2024-03-04T18:49:33Z
                      workspace_token: wrkspc_863089db412905d9
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Dashboards
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--dashboards-dashboard_token
      x-accepts: application/json
    put:
      description: Update a Dashboard.
      operationId: Dashboards_updateDashboard
      parameters:
      - explode: false
        in: path
        name: dashboard_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putDashboards'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Updated Dashboard
                    token: dshbrd_43f0df22a2b28fc1
                    widget_tokens:
                    - rprt_1f78a31ae74c183f
                    saved_filter_tokens:
                    - svd_fltr_c90a915a9b8c4128
                    date_bin: week
                    date_interval: this_month
                    start_date: 2023-08-01
                    end_date: 2023-08-31
                    created_at: 2024-03-04T18:49:32Z
                    updated_at: 2023-08-15T00:00:00Z
                    workspace_token: wrkspc_1f7d72cc9302b876
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Dashboards
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--dashboards-dashboard_token
      x-content-type: application/json
      x-accepts: application/json
  /costs:
    get:
      description: Return all Costs for a CostReport.
      operationId: Costs_listCostReport
      parameters:
      - description: The CostReport token.
        explode: true
        in: query
        name: cost_report_token
        required: true
        schema:
          type: string
        style: form
      - description: First date you would like to filter costs from. ISO 8601 formatted.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - description: Last date you would like to filter costs to. ISO 8601 formatted.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - description: "Group the results by specific field(s). Defaults to provider,\
          \ service, account_id. Valid groupings: account_id, billing_account_id,\
          \ charge_type, cost_category, cost_subcategory, provider, region, resource_id,\
          \ service, tagged, tag:<tag_value>. If providing multiple groupings, join\
          \ as comma separated values: groupings=provider,service,region"
        explode: false
        in: query
        name: groupings
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to order costs by date in an ascending or descending
          manner.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: desc
          type: string
          x-konfig-original-example: desc
          x-konfig-generated-schema: konfig-generated-schema-paths--costs-get-parameters-4-schema
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677
                      first: https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                      next: null
                      last: https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                      prev: null
                    total_cost:
                      amount: "500.0"
                      currency: USD
                    costs:
                    - accrued_at: 2023-06-05
                      amount: "100.0"
                      currency: USD
                      provider: aws
                      account_id: mock_56789
                      service: AmazonSNS
                    - accrued_at: 2023-06-04
                      amount: "100.0"
                      currency: USD
                      provider: aws
                      account_id: mock_56789
                      service: AmazonSNS
                    - accrued_at: 2023-06-03
                      amount: "100.0"
                      currency: USD
                      provider: aws
                      account_id: mock_56789
                      service: AmazonSNS
                    - accrued_at: 2023-06-02
                      amount: "100.0"
                      currency: USD
                      provider: aws
                      account_id: mock_56789
                      service: AmazonSNS
                    - accrued_at: 2023-06-01
                      amount: "100.0"
                      currency: USD
                      provider: aws
                      account_id: mock_56789
                      service: AmazonSNS
              schema:
                $ref: '#/components/schemas/Costs'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: PaymentRequired
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Costs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--costs
      x-accepts: application/json
  /teams:
    get:
      description: Return all Teams that the current API token has access to.
      operationId: Teams_listAccessible
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/teams
                      first: https://api.vantage.com/v2/teams?page=1
                      next: null
                      last: https://api.vantage.com/v2/teams?page=1
                      prev: null
                    teams:
                    - description: Consequuntur ratione.
                      token: team_2d4733920ec4385e
                      name: New Mexico people
                      workspace_tokens:
                      - wrkspc_08026aa5fb4c90f8
                      user_tokens:
                      - usr_c59398553e838116
              schema:
                $ref: '#/components/schemas/Teams'
          description: ""
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--teams
      x-accepts: application/json
    post:
      description: Create a new Team.
      operationId: Teams_createNewTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTeams'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: New Team Description
                    token: team_8467157535a30221
                    name: New Team
                    workspace_tokens:
                    - wrkspc_52b6e5e663b4cde1
                    user_tokens:
                    - usr_a00e614b5843c234
              schema:
                $ref: '#/components/schemas/Team'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--teams
      x-content-type: application/json
      x-accepts: application/json
  /teams/{team_token}:
    delete:
      description: Delete a Team.
      operationId: Teams_removeTeam
      parameters:
      - explode: false
        in: path
        name: team_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--teams-team_token
      x-accepts: application/json
    get:
      description: Return a specific Team.
      operationId: Teams_getSpecificTeam
      parameters:
      - explode: false
        in: path
        name: team_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Voluptas et.
                    token: team_081e09bbb812d369
                    name: Missouri cats
                    workspace_tokens:
                    - wrkspc_ddc003a2f0171bf8
                    user_tokens:
                    - usr_7c309915e847cfc6
              schema:
                $ref: '#/components/schemas/Team'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--teams-team_token
      x-accepts: application/json
    put:
      description: Update a Team.
      operationId: Teams_updateTeam
      parameters:
      - explode: false
        in: path
        name: team_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putTeams'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Updated Team Description
                    token: team_d617e73dcc6b57c5
                    name: Updated Team
                    workspace_tokens:
                    - wrkspc_efc4284a56772481
                    user_tokens:
                    - usr_d268561e520c7aac
              schema:
                $ref: '#/components/schemas/Team'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Teams
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--teams-team_token
      x-content-type: application/json
      x-accepts: application/json
  /access_grants:
    get:
      description: Return all Access Grants that the current API token has access
        to.
      operationId: AccessGrants_listAccessible
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/access_grants
                      first: https://api.vantage.com/v2/access_grants?page=1
                      next: null
                      last: https://api.vantage.com/v2/access_grants?page=1
                      prev: null
                    access_grants:
                    - token: rsrc_accss_grnt_c40f15062b6d5c37
                      resource_token: rprt_5a269d316483b01c
                      access: denied
                      team_token: team_fd5c524ba104712b
                      created_at: 2024-01-18T17:39:37Z
                      created_by: usr_eb8ce6bdc1fa31d5
                    - token: rsrc_accss_grnt_9723e984e93d8907
                      resource_token: dshbrd_a08561ec24875ac9
                      access: allowed
                      team_token: team_fd5c524ba104712b
                      created_at: 2024-01-18T17:39:37Z
                      created_by: usr_eb8ce6bdc1fa31d5
                    - token: rsrc_accss_grnt_eee5c4fd777d4dc8
                      resource_token: fldr_9d4ad1a769131c58
                      access: allowed
                      team_token: team_fd5c524ba104712b
                      created_at: 2024-01-18T17:39:38Z
                      created_by: usr_eb8ce6bdc1fa31d5
              schema:
                $ref: '#/components/schemas/AccessGrants'
          description: ""
      tags:
      - AccessGrants
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--access_grants
      x-accepts: application/json
    post:
      description: Create an Access Grant.
      operationId: AccessGrants_createGrant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAccessGrants'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_9f8aeb3cedda3831
                    resource_token: rprt_3b935d26cba36fb0
                    access: denied
                    team_token: team_26865e16e46028ae
                    created_at: 2024-01-18T17:39:37Z
                    created_by: usr_2fc38883da3726b9
              schema:
                $ref: '#/components/schemas/AccessGrant'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotAcceptable
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - AccessGrants
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--access_grants
      x-content-type: application/json
      x-accepts: application/json
  /access_grants/{access_grant_token}:
    delete:
      description: Delete an Access Grant.
      operationId: AccessGrants_delete
      parameters:
      - explode: false
        in: path
        name: access_grant_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - AccessGrants
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--access_grants-access_grant_token
      x-accepts: application/json
    get:
      description: Return a specific Access Grant.
      operationId: AccessGrants_getSpecificGrant
      parameters:
      - explode: false
        in: path
        name: access_grant_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_07ed83a5069b91c4
                    resource_token: rprt_b8df14aa8a4ad5c7
                    access: denied
                    team_token: team_14bd13a8bccb8406
                    created_at: 2024-01-18T17:39:36Z
                    created_by: usr_0e1cb254743b26cb
              schema:
                $ref: '#/components/schemas/AccessGrant'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - AccessGrants
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--access_grants-access_grant_token
      x-accepts: application/json
    put:
      description: Update an AccessGrant.
      operationId: AccessGrants_updateGrantToken
      parameters:
      - explode: false
        in: path
        name: access_grant_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putAccessGrants'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_eea11f0d35318b0d
                    resource_token: rprt_e84d7760ab2dd7dc
                    access: allowed
                    team_token: team_25fc4aa890869602
                    created_at: 2024-01-18T17:39:36Z
                    created_by: usr_57ed2fa2a7b30166
              schema:
                $ref: '#/components/schemas/AccessGrant'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - AccessGrants
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--access_grants-access_grant_token
      x-content-type: application/json
      x-accepts: application/json
  /report_notifications:
    get:
      description: Return all ReportNotifications.
      operationId: Notifications_getAllReportNotifications
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/report_notifications
                      first: https://api.vantage.com/v2/report_notifications?page=1
                      next: null
                      last: https://api.vantage.com/v2/report_notifications?page=1
                      prev: null
                    report_notifications:
                    - title: Test Notification
                      token: rprt_ntfctn_7c09ca27d07d8d1e
                      cost_report_token: rprt_ba0a5a5201390d72
                      user_tokens:
                      - usr_27edb13f3beac3cb
                      frequency: weekly
                      change: percentage
              schema:
                $ref: '#/components/schemas/ReportNotifications'
          description: ""
      tags:
      - Notifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--report_notifications
      x-accepts: application/json
    post:
      description: Create a ReportNotification.
      operationId: Notifications_createReportNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportNotifications'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Report Notification
                    token: rprt_ntfctn_8ce31b43a149cd2e
                    cost_report_token: rprt_933010600676b02f
                    user_tokens:
                    - usr_45e7d17e9f402226
                    frequency: daily
                    change: percentage
              schema:
                $ref: '#/components/schemas/ReportNotification'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Notifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--report_notifications
      x-content-type: application/json
      x-accepts: application/json
  /report_notifications/{report_notification_token}:
    delete:
      description: Delete a ReportNotification.
      operationId: Notifications_deleteReportNotification
      parameters:
      - explode: false
        in: path
        name: report_notification_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotification'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Notifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--report_notifications-report_notification_token
      x-accepts: application/json
    get:
      description: Return a ReportNotification.
      operationId: Notifications_getReportNotification
      parameters:
      - explode: false
        in: path
        name: report_notification_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Test Notification
                    token: rprt_ntfctn_21b4287a212406b1
                    cost_report_token: rprt_d084c84455edc606
                    user_tokens:
                    - usr_56d53f802edba3e6
                    frequency: weekly
                    change: percentage
              schema:
                $ref: '#/components/schemas/ReportNotification'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Notifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--report_notifications-report_notification_token
      x-accepts: application/json
    put:
      description: Update a ReportNotification.
      operationId: Notifications_updateReportNotification
      parameters:
      - explode: false
        in: path
        name: report_notification_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportNotifications'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Updated Report Notification
                    token: rprt_ntfctn_b36b208a90ee87f6
                    cost_report_token: rprt_07b88c04aa6bed8c
                    user_tokens:
                    - usr_35ed19fadcfed8c9
                    frequency: weekly
                    change: dollars
              schema:
                $ref: '#/components/schemas/ReportNotification'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - Notifications
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--report_notifications-report_notification_token
      x-content-type: application/json
      x-accepts: application/json
  /users:
    get:
      description: Return all Users that the current API token has access to.
      operationId: Users_listAccessible
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/users
                      first: https://api.vantage.com/v2/users?page=1
                      next: null
                      last: https://api.vantage.com/v2/users?page=1
                      prev: null
                    users:
                    - token: usr_3f30f56e7773e72b
                      name: Pres. Sudie Kuvalis
                      email: kuvalis.sudie.pres@mckenzie-herman.net
                      role: Owner
                    - token: usr_dc69dfedf704d4ea
                      name: Carisa Tromp
                      email: carisa.tromp@morissette.co
                      role: Viewer
              schema:
                $ref: '#/components/schemas/Users'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
      tags:
      - Users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users
      x-accepts: application/json
  /users/{user_token}:
    get:
      description: Return a specific User.
      operationId: Users_getSpecificUser
      parameters:
      - explode: false
        in: path
        name: user_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token: usr_92c7273af4de2fb4
                    name: Miss Shirlene Weissnat
                    email: miss.shirlene.weissnat@west-howe.net
                    role: Owner
              schema:
                $ref: '#/components/schemas/User'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - Users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-user_token
      x-accepts: application/json
  /business_metrics:
    get:
      description: Return all Business Metrics that the current API token has access
        to.
      operationId: BusinessMetrics_getAllMetrics
      parameters:
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    business_metrics:
                    - title: Biz Metric
                      token: bsnss_mtrc_59f5539480219769
                      created_by_token: null
                      cost_report_tokens_with_metadata: []
                      values: []
              schema:
                $ref: '#/components/schemas/BusinessMetrics'
          description: ""
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business_metrics
      x-accepts: application/json
    post:
      description: Create a new Business Metric.
      operationId: BusinessMetrics_createNewMetric
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postBusinessMetrics'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Biz Metric
                    token: bsnss_mtrc_5cb1416ffdb71e45
                    created_by_token: usr_c7ed8af27690461d
                    cost_report_tokens_with_metadata:
                    - cost_report_token: rprt_d9456b5218e47888
                      unit_scale: per_thousand
                    values:
                    - date: 2024-01-03T00:00:00Z
                      amount: "300.0"
                    - date: 2024-01-02T00:00:00Z
                      amount: "200.0"
                    - date: 2024-01-01T00:00:00Z
                      amount: "100.0"
              schema:
                $ref: '#/components/schemas/BusinessMetric'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--business_metrics
      x-content-type: application/json
      x-accepts: application/json
  /business_metrics/{business_metric_token}:
    delete:
      description: Deletes an existing BusinessMetric.
      operationId: BusinessMetrics_deleteExistingMetric
      parameters:
      - explode: false
        in: path
        name: business_metric_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--business_metrics-business_metric_token
      x-accepts: application/json
    get:
      description: Return a specific Business Metric.
      operationId: BusinessMetrics_getMetricById
      parameters:
      - explode: false
        in: path
        name: business_metric_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Biz Metric
                    token: bsnss_mtrc_fef64b1f7e56165f
                    created_by_token: null
                    cost_report_tokens_with_metadata: []
                    values: []
              schema:
                $ref: '#/components/schemas/BusinessMetric'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--business_metrics-business_metric_token
      x-accepts: application/json
    put:
      description: Updates an existing BusinessMetric.
      operationId: BusinessMetrics_updateExistingMetric
      parameters:
      - explode: false
        in: path
        name: business_metric_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putBusinessMetrics'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: New Title
                    token: bsnss_mtrc_892d49c3863e90a6
                    created_by_token: null
                    cost_report_tokens_with_metadata:
                    - cost_report_token: rprt_8914e211c6bad755
                      unit_scale: per_thousand
                    values:
                    - date: 2024-01-03T00:00:00Z
                      amount: "600.0"
                    - date: 2024-01-02T00:00:00Z
                      amount: "500.0"
                    - date: 2024-01-01T00:00:00Z
                      amount: "400.0"
              schema:
                $ref: '#/components/schemas/BusinessMetric'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--business_metrics-business_metric_token
      x-content-type: application/json
      x-accepts: application/json
  /business_metrics/{business_metric_token}/values.csv:
    put:
      description: Updates the values for an existing BusinessMetric from a CSV file.
      operationId: BusinessMetrics_updateValuesCsv
      parameters:
      - explode: false
        in: path
        name: business_metric_token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BusinessMetricsUpdateValuesCsvRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: Biz Metric
                    token: bsnss_mtrc_6bc29b57fecf9ab5
                    created_by_token: null
                    cost_report_tokens: []
                    values:
                    - date: 2024-01-03T00:00:00Z
                      amount: "300.3"
                    - date: 2024-01-02T00:00:00Z
                      amount: "200.2"
                    - date: 2024-01-01T00:00:00Z
                      amount: "100.1"
              schema:
                $ref: '#/components/schemas/BusinessMetric'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: BadRequest
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: NotFound
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: UnprocessableEntity
          x-do-not-generate: true
      security:
      - oauth2:
        - write
      tags:
      - BusinessMetrics
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--business_metrics-business_metric_token-values.csv
      x-content-type: multipart/form-data
      x-accepts: application/json
  /products:
    get:
      description: "Return available Products for a Service. For example, with a Provider\
        \ of AWS and a Service of EC2, Products will be a list of all EC2 Instances.\
        \ By default, this endpoint returns all Products across all Services and Providers\
        \ but has optional query parameters for filtering listed below."
      operationId: Prices_listAvailableProducts
      parameters:
      - description: Query by Provider to list all Products across all Services for
          a Provider. e.g. aws
        explode: true
        in: query
        name: provider_id
        required: false
        schema:
          type: string
        style: form
      - description: Query by Service to list all Products for a specific provider
          service. e.g. aws-ec2
        explode: true
        in: query
        name: service_id
        required: false
        schema:
          type: string
        style: form
      - description: Query by name of the Product to see a list of products which
          match that name. e.g. m5a.16xlarge
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v1/products
                      first: https://api.vantage.com/v1/products?page=1
                      next: null
                      last: https://api.vantage.com/v1/products?page=1
                      prev: null
                    products:
                    - id: aws-ec2-m5d_16xlarge
                      category: compute
                      name: m5d.16xlarge
                      service_id: aws-ec2
                      provider_id: aws
                      details:
                        gpu: 0
                        name: M5 General Purpose 16xlarge
                        vcpu: 64
                        memory: 256
                        clock_speed_ghz: 3.1
                        physical_processor_description: Intel Xeon Platinum 8175 (Skylake)
                        network_performance_description: 20 Gigabit
                    - id: aws-ec2-c5a_8xlarge
                      category: compute
                      name: c5a.8xlarge
                      service_id: aws-ec2
                      provider_id: aws
                      details:
                        gpu: 0
                        name: C5A 8xlarge
                        vcpu: 64
                        memory: 256
                    - id: aws-ec2-c5a_4large
                      category: compute
                      name: c5a.4large
                      service_id: aws-ec2
                      provider_id: aws
                      details:
                        gpu: 0
                        name: C5A 4large
                        vcpu: 64
                        memory: 4
                    - id: aws-s3-standard
                      category: object_storage
                      name: standard
                      service_id: aws-s3
                      provider_id: aws
                      details: {}
              schema:
                $ref: '#/components/schemas/Products'
          description: ""
      tags:
      - Prices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products
      x-accepts: application/json
  /products/{id}:
    get:
      description: Return a product
      operationId: Prices_getProduct
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: aws-ec2-m5d_16xlargeX
                    category: compute
                    name: m5d.16xlarge
                    service_id: aws-ec2
                    provider_id: aws
                    details:
                      gpu: 0
                      name: M5 General Purpose 16xlarge
                      vcpu: 64
                      memory: 256
                      clock_speed_ghz: 3.1
                      physical_processor_description: Intel Xeon Platinum 8175 (Skylake)
                      network_performance_description: 20 Gigabit
              schema:
                $ref: '#/components/schemas/Product'
          description: ""
      tags:
      - Prices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-id
      x-accepts: application/json
  /products/{product_id}/prices:
    get:
      description: Return available Prices across all Regions for a Product.
      operationId: Prices_getProductPrices
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      - description: The page of results to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The amount of results to return. The maximum is 1000
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices
                      first: https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices?page=1
                      next: null
                      last: https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices?page=1
                      prev: null
                    prices:
                    - id: aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterprise
                      unit: hour
                      region: eu-central-1
                      rate_type: compute
                      currency: USD
                      amount: 27.328
                      details:
                        platform: linux-enterprise
                        lifecycle: on-demand
                    - id: aws-ec2-m5d_16xlarge-us_east_1-on_demand-linux_enterprise
                      unit: hour
                      region: us-east-1
                      rate_type: compute
                      currency: USD
                      amount: 3.616
                      details:
                        platform: linux-enterprise
                        lifecycle: on-demand
                    - id: aws-ec2-m5d_16xlarge-us_east_1-on_demand-rhel
                      unit: hour
                      region: us-east-1
                      rate_type: compute
                      currency: USD
                      amount: 3.746
                      details:
                        platform: rhel
                        lifecycle: on-demand
              schema:
                $ref: '#/components/schemas/Prices'
          description: ""
      tags:
      - Prices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-product_id-prices
      x-accepts: application/json
  /products/{product_id}/prices/{id}:
    get:
      description: Returns a price
      operationId: Prices_getProductPrice
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterpriseX
                    unit: hour
                    region: eu-central-1
                    rate_type: compute
                    currency: USD
                    amount: 27.328
                    details:
                      platform: linux-enterprise
                      lifecycle: on-demand
              schema:
                $ref: '#/components/schemas/Price'
          description: ""
      tags:
      - Prices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-product_id-prices-id
      x-accepts: application/json
  /ping:
    get:
      description: This is a health check endpoint that can be used to determine Vantage
        API healthiness. It will return 200 if everything is running smoothly.
[...]
